@font-face {
  font-family: "letra1";
  src: url(../public/fonts/Lato-Regular.ttf);
  font-family: "letra-home";
  src: url(../public/fonts/ComicNeue-Regular.ttf);
}

* {
  font-family: "letra1", sans-serif;
  scroll-behavior: smooth;
  overflow-x: "hidden";
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  color: white;

  padding-right: 0 !important;
}

.css-i104bv87-MuiSvgIcon-root {
  /* remove items cart*/
  width: 20px !important;
}

.css-i4bv87-MuiSvgIcon-root {
  /* add items cart */
  width: 20px !important;
}

.slick-track {
  cursor: grabbing;
  left: 3rem !important;
}

@media (max-width: 768px) {
  .slick-track {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 250px;
  }
}

@media (max-width: 552px) {
  .slick-track {
    left: 0 !important;
  }

}

.slick-dots li.slick-active button:before {
  color: white !important;
}

.slick-dots li.slick-active button:hover {
  color: white !important;
}

.slick-dots:hover {
  color: white !important;
}

.slick-dots li:hover {
  color: white !important;
}


section {
  scroll-behavior: smooth
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #FBD5D5;
}

body::-webkit-scrollbar-thumb {
  background-color: #F99595;
  /* border-radius: 20px;       
  /* border: 3px solid #03c3ec;  */



}

@media (max-width: 767px) {
  .cart-container {
    font-size: .6rem;
    padding: .8rem !important;
    width: 100% !important;
    height: 600px !important;
  }
}

@media (max-width: 396px) {
  .eliminartexto {
    position: absolute;
    visibility: hidden;
  }

}
@media (max-width: 407px) {
  .container-cart {
    width: 360px !important;
  }
}

@media (min-width: 407px) and (max-width: 660px) {
  .container-cart {
    width: 400px !important;
  }
}


@media (max-width: 396px) {
  .imagencarrito {
    position: absolute;
    visibility: hidden;
  }

}

@media (max-width: 767px) {
  .menu-mobile {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    
 
  }

}

@media (max-width: 918px) {
  .link-mobile {
    padding: 5px;
    font-size: 20px;
  }

}
@media (max-width: 858px) {
  .link-mobile {
    padding: 4px;
    font-size: 17px;
    
  }
  .logogst{
    padding: 2px;
    margin-left: -2px;
  }
  .btn-carrito{
    margin-right: -2px;
  }
}