@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    background-color: linear-gradient(90deg, #03c3ec 0%, #fbd5d5 42%);
    ;
  }
}

@font-face {
  font-family: "letra1";
  src: url(../public/fonts/Lato-Regular.ttf);
  font-family: "letra-home";
  src: url(../public/fonts/ComicNeue-Regular.ttf);
}

* {
  font-family: "letra1", sans-serif;
  scroll-behavior: smooth;
  overflow-x: "hidden";
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  color: white;

  padding-right: 0 !important;
}

.css-i104bv87-MuiSvgIcon-root {
  /* remove items cart*/
  width: 20px !important;
}

.css-i4bv87-MuiSvgIcon-root {
  /* add items cart */
  width: 20px !important;
}

.slick-track {
  cursor: grabbing;
  left: 3rem !important;
}

@media (max-width: 768px) {
  .slick-track {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 250px;
  }
}

@media (max-width: 552px) {
  .slick-track {
    left: 0 !important;
  }

}

.slick-dots li.slick-active button:before {
  color: white !important;
}

.slick-dots li.slick-active button:hover {
  color: white !important;
}

.slick-dots:hover {
  color: white !important;
}

.slick-dots li:hover {
  color: white !important;
}


section {
  scroll-behavior: smooth
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #FBD5D5;
}

body::-webkit-scrollbar-thumb {
  background-color: #F99595;
  /* border-radius: 20px;       
  /* border: 3px solid #03c3ec;  */



}

@media (max-width: 767px) {
  .cart-container {
    font-size: .6rem;
    padding: .8rem !important;
    width: 100% !important;
    height: 600px !important;
  }
}

@media (max-width: 396px) {
  .eliminartexto {
    position: absolute;
    visibility: hidden;
  }

}
@media (max-width: 407px) {
  .container-cart {
    width: 360px !important;
  }
}

@media (min-width: 407px) and (max-width: 660px) {
  .container-cart {
    width: 400px !important;
  }
}


@media (max-width: 396px) {
  .imagencarrito {
    position: absolute;
    visibility: hidden;
  }

}